.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #fff;
  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    width: 100%;
    min-width: 100%;
  }
}

.header {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  border-bottom: var(--line);

  @media screen and (max-width: $bp-smallest) {
    height: auto;
    flex-wrap: wrap;
    padding-top: 1rem;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;

  color: var(--color-grey-light-1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  background-color: #fff;
  flex: 1;

  //test
  //   background-color: var(--color-grey-dark-4);
  // height: 50rem;
}

.detail {
  display: flex;
  font-size: 1.4rem;
  background-color: var(--color-grey-light-1);
  padding: 3rem;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  flex: 0 0 60%;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow-light);

  background-color: #fff;
  padding: 2rem;

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
