@import "base";
@import "layout";
@import "components";

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #fff;

  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: orangered;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
}

.main {
  background-color: #fff;
  flex: 1;
  //   background-color: var(--color-grey-dark-4);
}
